@import '../../assets/saas-variables/media.scss';


.scroll-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 1.9rem;
    opacity: 0;
    min-height: 1.9rem;
    z-index: 100;
    margin: 0 0.3rem;
    transform: translate(0, -8%);
    border-radius: 48%;
    transition: .8s linear;
    
    .chevron-scroll {
        color: rgba(13, 13, 13, 0.88);
        width: 1.9rem;
        height: auto;
    }
    &:hover {
        border: none;
        background-color: rgba(0, 0, 0, 0.022);

        .chevron-scroll {
            
            color: rgba(66, 66, 66, 0.643);
        }
    }

}

.left {
    left: 0;

}

.right {
    right: 0;

}


.products-scroll {
    &* {
        margin: 0;
        padding: 0;
    }

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    padding-left: 4.8%;

    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    width: 100%;


    .featured-product-container {

        width: 80%;
        height: 90%;

        padding: 0.3rem 0.3rem 0.8rem 0.3rem;

        .product-about {
            display: none;
        }

        .product-text-desc {

            width: 80%;
        }

        .product-image {
            padding: 1rem 1rem 0rem 1rem;
            height: 85%;
            width: 79%;
        }
        @media (max-width:$resp-layout) {
            .add-to-cart-btn{
                bottom: 0;
            }
            
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 4.8%;

    * {
        scroll-snap-align: start;

    }

    &::-webkit-scrollbar {
        display: none;
    }
}