@import '../../assets/saas-variables/media.scss';

.home {
    .slider-home {
        margin: 1rem 0 0rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .variety-title {

        margin: 0 0 0.3rem 0;
        color: rgba(32, 32, 32, 0.88);

        text-align: center;

        letter-spacing: 1.1rem;

    }


    .featured-products-home-container {
        margin-top: 5.3rem;
        margin-bottom: 9.3rem;

        .featured-products-title {
            width: 100%;

            text-align: center;

            letter-spacing: 1.1rem;
            position: absolute;
            color: rgba(32, 32, 32, 0.88);
            top: 2.8%;

        }

        position: relative;
        width: 100%;
        height: 100%;
        padding: 2.8rem 0;
        display: flex;
        align-items: center;

        &:hover {
            transition: opacity linear 1.8s;

            .scroll-btn {
                opacity: 1;
            }
        }

        box-shadow: inset 0 3px 5.8px rgba(0, 0, 0, 0.052),
        inset 0 -3px 5.8px rgba(0, 0, 0, 0.053);

        @media (max-width:$resp-product) {
            .product-text-desc {
                font-size: 0.9rem;
                height: 40%;

                .product-title {
                    letter-spacing: 0.03rem;
                    font-size: 0.9rem;
                }

                .product-price {
                    font-size: 0.9rem;
                }
            }

            .add-to-cart-btn {
                font-size: 59%;
                margin-bottom: 70%;
            }
        }
    }

    .other-looks-container {
        width: 100%;
        height: 50%;
        display: grid;
        padding: 0 0rem 0 3rem;
        .other-looks-title {
            text-align: center;

            color: rgba(32, 32, 32, 0.88);

            letter-spacing: 1.1rem;



        }

        @media (max-width:$resp-product) {
            .product-text-desc {
                font-size: 0.9rem;
                height: 40%;

                .product-title {
                    letter-spacing: 0.03rem;
                    font-size: 0.9rem;
                }

                .product-price {
                    font-size: 0.9rem;
                }
            }

            .add-to-cart-btn {
                font-size: 59%;
                margin-bottom: 70%;
            }
            .other-looks-container{
                padding: 0;
            }
        }
    }


    .shop-all-btn-container {
        display: flex;
        justify-content: center;
        margin: 9.8% 0 2.1% 0;
        padding-bottom: 8.3%;

        .shop-all-btn {
            background: none;
            font-size: 1.8rem;
            letter-spacing: 0.2rem;
            padding: 2.3rem 4.9rem;
            border-radius: 3.8rem;
            border: 0.001rem solid rgba(0, 0, 0, 0.337);
            font-family: 'Work Sans';
            transition: .8s;
            text-shadow: 0.03rem 0.03rem 0.3rem;
            text-align: center;

            @media(max-width:$resp-product) {
                font-size: 1.3rem;
                padding: 1.5rem 3.1rem;
            }

            &:hover {
                border: 0.3px solid rgba(0, 0, 0, 0);
                color: rgb(255, 255, 255);


                background: linear-gradient(180deg, rgba(126, 126, 126, 0.22) 0%, rgba(189, 189, 189, 0.129) 100%);
            }
        }
    }
}