
.profile-info-container{
        b{
            font-size: 2rem;
            font-weight: normal;
            text-shadow: 0.1rem 0.2rem 0.2rem rgb(223, 223, 223);
            color: rgb(110, 110, 110);
        }
    .profile-title {
        padding: 0rem 0 0.1rem 0;
        letter-spacing: 0.1rem;
        b{
            font-size: 2.3rem;
        }
    }
    p{
        font-size: 1.5rem;
        font-weight: 100;
    }
    border-bottom: solid 1px rgba(0, 0, 0, 0.366);
    padding-bottom:1rem ;
}
.sign-out-button{
    background: none;
    width: 8rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 1rem 0;
    margin: 1rem 0.3rem;
    border: black solid 0.01rem;
    transition: .8s ;
    cursor: pointer;
    &:hover{
        color: rgba(99, 99, 99, 0.418);
        background: rgba(243, 243, 243, 0.149);
    }
}
