.cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    .cart {
      width: 2.3em;
      height: auto;
    }

    .cart-count {
      font-size: 1.01em;
      position: absolute;
      top: 40%;
      font-family: 'Work Sans';
      text-shadow: 0.1px 0.1px 0.3px;
    }

  }
