.cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    .cart {
      // margin: 0 1rem;
      width: 2.1rem;
      height: auto;
    }

    .cart-count {
      font-size: 1.01rem;
      position: absolute;
      top: 0.78rem;
      font-family: 'Work Sans';
      text-shadow: 0.1px 0.1px 0.3px;
    }

  }
