@import '../../assets/saas-variables/media.scss';

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    position: relative;
    background: linear-gradient(180deg, rgba(241, 241, 241, 0.079) 0%, rgba(232, 232, 232, 0) 100%);
    border-radius: 3px;
    font-size: clamp(10px, 1vw, 20px);
    gap: 0.8rem;
    height: 91%;
    padding: 0.3rem 0.3rem 0.8rem 0.3rem;

    &:hover {
        .add-to-cart-btn {
            opacity: 0.9;
        }
    }

    .add-to-cart-btn {
        position: absolute;
        height: 11%;
        width: 70%;
        max-width: 12em;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .28s linear;
        opacity: 0;
        background: rgba(0, 0, 0, 0.667);
        border-radius: 1.8px;
        border: none;
        box-shadow: 0 1.8px 2.8px rgba(0, 0, 0, 0.128);
        color: white;
        text-shadow: 0.3px 0.8px 3px black;
        z-index: 3;
        font-size: clamp(0.8rem, 1.8vw, 1.3rem);
        padding: 1.08em 3em;
        cursor: pointer;

        p {
            white-space: nowrap;
        }

        &:hover {
            background: rgba(255, 255, 255, 0.78);
            color: black;


        }
    }

    .product-text-desc {
        width: 90%;
        height: 22%;
        min-height: 22%;
        max-height: 22%;
        display: flex;
        gap: 0.3em;
        align-items: center;
        flex-direction: column;
        .title-price-container {
            display: flex;
            margin-bottom: 0.3em;
            width: 100%;
            gap: 10%;
            justify-content: center;
            .product-title {
                width: 80%;
                text-transform: uppercase;
                letter-spacing: 0.23em;
                word-break: keep-all;
                font-size: clamp(100%, 1.1vw, 1rem);
                white-space: nowrap;
            }

            .product-price {
                font-size: clamp(100%, 1.1vw, 1.3rem);
                width: 20%;
            }

            div {
                box-sizing: content-box;
            }
        }

        .product-about {
            font-size: clamp(13px, 1vw, 20px);
            width: 100%;
            height: fit-content;
            text-align: center;

        }
    }


    .product-image {
        height: 78%;
        width: 80%;
        padding: 1rem 0.9rem 1rem 0.9rem;
        z-index: 1;
        transition: .2s ease-out;
        box-shadow: 0 1.3px 3px rgba(0, 0, 0, 0.052);
        border-radius: 0.3rem;

    }
}