@import '../../assets/saas-variables/media.scss';

.featured-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    position: relative;
    background: linear-gradient(180deg, rgba(241, 241, 241, 0.079) 0%, rgba(232, 232, 232, 0) 100%);
    border-radius: 3px;
    font-size: clamp(10px, 1vw, 20px);
    gap: 0.8rem;
    height: 91%;
    padding: 0.3rem 0.3rem 0.8rem 0.3rem;

    &:hover {
        .add-to-cart-btn {
            opacity: 0.9;
        }
    }

    .add-to-cart-btn {
        transition: .28s linear;
        opacity: 0;
        background: rgba(0, 0, 0, 0.667);
        border-radius: 1.8px;
        border: none;
        box-shadow: 0 1.8px 3px rgba(0, 0, 0, 0.33);
        color: white;
        text-shadow: 0.3px 0.8px 3px black;
        transform: translate(0, 10%);
        position: absolute;
        z-index: 3;
        font-size: 110%;
        padding: 3.8% 7%;
        cursor: pointer;
        margin-bottom: 8%;

        &:hover {
            background: rgba(255, 255, 255, 0.78);
            color: black;


        }
    }

    .product-text-desc {
        width: 90%;

        .title-price-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.3rem;
        }

        .product-title {
            text-transform: uppercase;
            letter-spacing: 0.3rem;
            word-break: keep-all;
            font-size: clamp(15px, 1vw, 1rem);
        }

        .product-price {
            font-size: clamp(14px, 1vw, 21px);
        }

        .product-about {
            font-size: clamp(13px, 1vw, 20px);
        }
    }


    .product-image {
        height: 78%;
        width: 80%;
        padding: 1rem 0.9rem 1rem 0.9rem;
        z-index: 1;
        transition: .2s ease-out;
        box-shadow: 0 1.3px 3px rgba(0, 0, 0, 0.052);
        border-radius: 0.3rem;

    }

    @media(max-width:$resp-product) {
        .add-to-cart-btn {
            bottom: 50%;
            font-size: 90%;
            padding: 5% 5%;
        }

        .product-text-desc {
            height: 40%;

            .product-title {
                letter-spacing: 0.03rem;
            }
        }
    }
}