@import '../../assets/saas-variables/media.scss';


.shop-filter {
    position: absolute;
    height: 20vh;
    left: 8%;
    top: 8vh;
    z-index: 10;
    .select-btn {
        width: 7.5em;
        height: 1.8em;
        background: rgba(255, 255, 255, 0.508);
        border: solid rgba(0, 0, 0, 0.694) 1px;
        border-radius: 2.8px;
        box-shadow: 0 0.3px 0.8px rgba(0, 0, 0, 0.284);
        letter-spacing: 0.1rem
    }

    .shop-filter-select {
        border-radius: 3px;
        width: 6.5rem;
        margin-top: 0.18rem;
        z-index: 10;
        padding: 0.7rem 0rem 0.7rem 1rem;
        position: absolute;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.35rem;
        border: solid 1px black;
        background: rgb(255, 255, 255);
        .shop-filter-option {
            font-size: 1.1rem;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            &:hover{
                color: rgba(0, 0, 0, 0.696);
            }
        }
    }
    // @media (max-width:$resp-layout) {
    //     .select-btn{
    //         width: 5.3rem;
    //         font-size: 0.78rem;
    //     }
    // }
}