@import '../../assets/saas-variables/media.scss';

.otr-grid{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    height: 70%;
    // gap: 2rem;
    .look-items{
        padding: 5% 0 0 9%;
        display: grid;
        gap: 3%;
        grid-template-columns: repeat(2,1fr);
        height: 50%;
        width: 85%;
    }
    .look-pic-container{
        padding: 0 0 10% 0.8%;
        display: flex;
        justify-content: center;
        align-items: center;
        .look-pic{
        background-image: url('https://cdn-images.farfetch-contents.com/19/81/29/26/19812926_44621781_1000.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 59%;
        width: 71%;
        margin: 0 0 27% 0;
        z-index: 1;
        transition: .3s linear ;
        &:hover{
            background-image: url('https://cdn-images.farfetch-contents.com/19/81/35/86/19813586_44624307_1000.jpg');
        }
    }
    }
    
    // .item-4{
    //     .product-image{
    //         height: auto;
    //     }
    //     grid-column-start: 3;
    //     grid-row-start: 1;
    //     grid-row: 1 2;
    // }
}