@import '../../assets/saas-variables/media.scss';

.other-looks-container {
    width: 94.4%;
    margin: 0 1.8%;
    margin-bottom: 5vh;
    display: grid;

    .other-looks-title {
        text-align: center;
        box-sizing: content-box;
        color: rgba(32, 32, 32, 0.88);
        font-size: clamp(0.5rem, 2.7vw , 100%);
        letter-spacing: 0.48em;
    }
}

.otr-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    height: 70%;
    gap: 0 3%;
    .look-items {
        padding: 0 5% 0 0;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 0.3em 0.8em;
        height: 50%;
        width: 100%;
    }

    .look-pic-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .look-pic {
            background-image: url('https://cdn-images.farfetch-contents.com/19/81/29/26/19812926_44621781_1000.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: 55%;
            width: 71%;
            margin-bottom: 10vh ;
            z-index: 1;
            transition: .3s linear;

            &:hover {
                background-image: url('https://cdn-images.farfetch-contents.com/19/81/35/86/19813586_44624307_1000.jpg');
            }
        }
    }
}