.product-page__product {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    margin: 3% 0 0 1rem;
    .product-image-container {
        box-sizing: content-box;
        .product-image {
            width: 30%;
            height: 90%;
        }
    }
    .product-text-container{
        width: 30%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 20%;
        .title-price{
            margin: 0 0.8rem;
            display: flex;
            justify-content: space-between;
        }
    }
}