.product-page__product {
    width: 100%;
    height: 100%;
    margin: 3% 0 0 1rem;
    row-gap: 0rem;
    .product-image-container {
        width: 17rem;
        height: 20rem;

        box-sizing: content-box;
        .product-image {
            width: 100%;
            height: 100%;
        }
    }
    .product-btn-container{
        display: flex;
        justify-content: center;
        width: 15em;
        height: 3em;
    }
    .product-text-container{
        width: 17rem;
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 20%;
        .title-price{
            margin: 0 0.8rem;
            display: flex;
            justify-content: space-between;
        }
    }
}